/* 
    Este es el css para todo el "sistema operativo" a partir de la boot screen 

    version 0.2

*/


/* START MENU */

@keyframes moving{
    0%{
        background-position: 0% 0%;
    }
    
    50%{
        background-position: 50% 50%;
    }

    100%{
        background-position: 100% 100%;
    }
}

@font-face {
    font-family: F95;
    src: url(MS\ Sans\ Serif\ 8pt.ttf);
}
.Startmenu{
    margin: 0;
    padding: 0;

    background: url(./images/Win95bootsm.png);
    background-repeat: no-repeat;
    background-size: 190vh 100vh;
    background-position: center b;
}

body{
    margin: 0;
    padding: 0;
}

.loading-bar{
    position: absolute;
    display: flex;
    margin-top: auto;

    width: 100%;
    height: 40px;

    background: linear-gradient(90deg,rgba(6, 139, 191, 1) 0%, rgba(171, 171, 171, 1) 15%, rgba(171, 171, 171, 1) 35%, rgba(6, 139, 191, 1) 50%, rgba(171, 171, 171, 1) 65%, rgba(171, 171, 171, 1) 85%, rgba(6, 139, 191, 1) 100%);
    background-size: 200% 200%;
    animation-name: moving;
    animation-duration: 3s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    bottom: 0;
}

/* Desktop */

.Desktop{
    font-family: F95;
    font-smooth: none;

    background-color: #008080;
    color: white;
}

.button{
    padding: 0px 5px 0px 5px;
    margin: 0px;
    
    background-color: #c3c3c3;
    border-style: solid;
    border-width: 3px;
    border-color: white black black white;
}

.Taskbar{
    padding: 5px;

    background-color: #c3c3c3;

    border-color: white none none none;
    border-style: solid;
    border-width: 3px 0px 0px 0px;

    width: 100%;
    position: absolute;
    bottom: 0px;
}

.StartButton{
    padding: 0px 5px 0px 5px;
    margin: 0px;

    background-color: #c3c3c3;
    border-style: solid;
    border-width: 3px;
    border-color: white black black white;
}

.StartButton:active{
    background-color: #a0a0a4;
    border-color: black white white black;
}

.StartButton p {
    line-height: 0px;
}
/* Barra de tareas */