/* 
    Este es el css para todo el "sistema operativo" a partir de la boot screen 

    version 0.4

*/

html{
    margin: 0;
    padding: 0;


}

*{
    image-rendering: pixelated;

    font-family: F95;
    font-smooth: none;
}

/* START MENU */

@keyframes moving{
    0%{
        background-position: 0% 0%;
    }
    
    50%{
        background-position: 50% 50%;
    }

    100%{
        background-position: 100% 100%;
    }
}

@font-face {
    font-family: F95;
    src: url(MS\ Sans\ Serif\ 8pt.ttf);
}

@font-face {
    font-family: TimesNew95;
    src: url(./pixelated-times-new-roman.otf);
}

h1{
    font-family: TimesNew95;
    font-weight: 100;
    font-size: 60px;

    line-height: 0px;
    padding: 0px;
    margin: 0px;
}

.Startmenu{
    margin: 0;
    padding: 0;

    background: url(./images/Win95bootsm.png);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-position: start center;

    align-items: center;
    justify-content: center;
}

body{
    margin: 0;
    padding: 0;

    overflow: hidden;
}

.loading-bar{
    position: absolute;
    display: flex;
    margin-top: auto;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 40px;

    background: linear-gradient(90deg,rgba(6, 139, 191, 1) 0%, rgba(171, 171, 171, 1) 15%, rgba(171, 171, 171, 1) 35%, rgba(6, 139, 191, 1) 50%, rgba(171, 171, 171, 1) 65%, rgba(171, 171, 171, 1) 85%, rgba(6, 139, 191, 1) 100%);
    background-size: 200% 200%;
    animation-name: moving;
    animation-duration: 3s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    bottom: 0;
}

/* Desktop */

.Desktop{
    font-family: F95;
    font-smooth: none;

    background-color: #008080;
    color: white;
}

.button{
    padding: 0px 5px 0px 5px;
    margin: 0px;
    
    background-color: #c3c3c3;
    border-style: solid;
    border-width: 2px;
    border-color: white black black white;
}
.button:active{
    padding: 0px 5px 0px 5px;
    margin: 0px;
    
    background-color: #a0a0a4;
    border-style: solid;
    border-width: 2px;
    border-color: black white white black;
}

.input{
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;

    margin: 4px;

    width: 16px;
    height: 16px;
    margin-bottom: 10px;

    background-color: white;

    border-style: solid;
    border-width: 2px;
    border-color: white black black white;
}
.input input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.Checkmark{
    position: absolute;
    font-size: 16px;
    top: -4px;
    left: 1px;
    height: 16px;
    width: 16px;
    color: white;
}

.input input:checked ~ .Checkmark{
    color: black;
    content: '&#10004';
}

/* Barra de tareas */

.Taskbar{
    width: 100%;
    position: fixed;
    bottom: 0px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    padding: 3px 3px 4px 3px;

    background-color: #c3c3c3;

    border-color: white none none none;
    border-style: solid;
    border-width: 2px 0px 0px 0px;

    z-index: 9999999999999;
}

.Taskbar div{
    display: flex;
}

.Taskbar hr{
    padding: 0px;
    margin: 0px 3px 0px 3px;

    width: 0px;

    height: 24.5px;

    border-style: solid;
    border-width: 2px;
    border-color: #808080 white white #808080;
}

.StartButton{
    display: flex;

    justify-content: center;
    align-items: center;

    padding: 0px 4px 0px 4px;
    margin: 0px;
    gap: 2px;

    background-color: #c3c3c3;
    border-style: solid;
    border-width: 2px;
    border-color: white black black white;
}

.StartButton:active{
    background-color: #a0a0a4;
    border-color: black white white black;
}

.StartButton img{
    width: 20px;
    height: 20px;
}

.StartButton p {
    text-align: center;
    vertical-align: middle;

    font-weight: 700;
    font-size: 12px;

    line-height: 0px;
}

.Widgets{
    display: flex;
    right: 0;

    justify-content: center;
    align-items: center;
    vertical-align: middle;

    background-color: #c3c3c3;
    border-style: solid;
    border-width: 2px;
    border-color: #808080 white white #808080;

    padding: 0px 5px 0px 0px;
}

.Widgets button{
    background-color: transparent;
    border-style: none;
}

.Widgets button img{
    padding: 0px;
    margin: 0px;

    width: 20px;
    height: 20px;
}

.Widgets p {
    font-size: 12px;
    line-height: 0px;
    color: black;
}

/* Windows */

.Window{
    position:absolute;
    z-index: 1;

    font-size: 14px;
    padding: 2px;

    color: black;
    background-color: #c0c0c0;

    border-style: solid;
    border-width: 2px;
    border-color: white black black white;
 
}

.WTop-Bar{
    user-select: none;
    display: flex;
    flex-direction: row;


    justify-content: space-between;
    height: 24px;

    align-items: center;
    padding: 0px 2px 0px 2px;
    margin-bottom: 2px;

    background-color: #000080;
    color: white;

    line-height: 0;
}

.WTop-Bar div{
    display: flex;
    flex-direction: row;
    align-self: center;
    flex-wrap: nowrap;
}

.WTop-Bar div p{
    position: absolute;
    left: 6px;
    top: 2px;
    text-align: left;
}

.WTop-Bar div button{
    height: 20px;
    width: 20px;

    background-color: #c0c0c0;

    border-style: solid;
    border-width: 2px;
    border-color: white black black white;
    
    line-height: 0px;
}

.WTop-Bar div button:active{
    background-color: #a0a0a4;

    border-style: solid;
    border-width: 2px;
    border-color: black white white black;
    
    line-height: 0px;
}

.WTop-Bar div button img{
    position: absolute;
    padding: 0px;
    margin: 0px;

    line-height: 0px;

    transform: translate(-50%, -50%);
    width: 11px;
}

.WContent{
    margin: 0px;
    padding: 0;

    margin-top: 15px;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 27px);
}

.WNotes{
    display: flex;
    gap: 30px;
    padding: 30px;

    border-style: solid;
    border-width: 2px;
    border-color: #808080 white  white #808080;

    background-color: #feffdf;
}

.Wsided-left{
    display: flex;

}