@font-face {
    font-family: CMD;
    src: url("./clacon2.ttf");
}

/* NOTEPAD */

.notepad{
    padding-right: 6px;
    padding-left: 2px;
}

.notepad button{
    border: none;
    background-color: transparent;
}

.notepad button:hover{
    color: white;
    background-color: #000080;
}

.notepad div{

    width: 100%;
    height: auto;

    overflow-y: auto;
    overflow-x: auto;

    background-color: white;
    border-style: solid;
    border-color: black white white black;
    border-width: 2px;

}


/* CMD */

.Command-prompt{
    font-family: CMD;
    padding: 10px;

    height: calc(100% - 26px);
    box-sizing: border-box;

    background-color: black;
    display: block;

    gap: 0;
    margin: 0;

    overflow-y:auto;
    overflow-x:auto;
}
.Command-prompt p {
    font-family: CMD;
    color: white;
    line-height: 1;

    word-break:normal;
    height: auto;
}
.Command-prompt span{
    font-family: CMD;
    color: white;
    word-spacing: -2px;
}
.Command-prompt input{
    border: none;
    background-color: transparent;

    color: white;

    box-sizing: border-box;
    width: 70%;
}
.Command-prompt input:focus{
    outline: none;
}

/* Papelera */
.papelera{
    padding-left: 2px;
}

.papelera button{
    border: none;
    background-color: transparent;
}

.papelera button:hover{
    color: white;
    background-color: #000080;
}

.papelerainfo{
    border-style: solid;
    border-width: 2px;
    border-color: #808080 white white #808080;

    width: 100%;

    padding-top: 2px;
    padding-left: 2px;
}

.archivos-papelera{
    display: flex;
    flex-direction: column;

    border-style: solid;
    border-width: 2px;
    border-color: #808080 white white #808080;
    
    width: calc(100% - 4px);
    height: auto;

    overflow-x: auto;
    overflow-y: auto;
}
.archivos-papelera-tipos{
    top: 1;
    
    display: flex;
    flex-direction: row;

    height: 22px;
}
.archivos-papelera-tipos p{
    margin: 0;
    padding: 2px;

    padding-right: 80px;

    height: 15px;

    border-style: solid;
    border-width: 2px;
    border-color: white black black white;
}

.archivos-papelera-archivos{
    background-color: white;

}